h1 {
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal;
}

.chart {
    width: 700px;
    margin-left: 30%;
    background-color: thistle;
}

img {
    width: 100px;
    height: auto;
    background-color: peachpuff;
    border: solid tomato 2px;
}

#main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
}

body {
    background-color: thistle;
}