body {
    text-align: center;
    background-color: #3a7cbb;
}

button {
    border-radius: 35%;
    width: 8%;
    font-size: 13px;
    padding: 10px;
    margin-top: 2%;
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal;

}

img {
    width: 300px;
    background-color: tomato;
    border-radius: 30%;
    
}

#pokemon1 {
    width: 600px;
}

input[type=radio]{
    display:none;

}

input[type=radio]:checked + img {
    border: solid tomato 2px;
    background-color: #f8d478;
    border-radius: 25%;
}

h2 {
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal;
}