body {
    text-align: center;
    background-image: url('../assets/pokemon.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

button {
    border-radius: 40%;
    width: 10%;
    font-size: 13px;
}

